.back {
    width: 100%;
    height: 100vh;
    background-color: var(--dark_shades);
    position: relative;
}

.login-block {    
    position: absolute;  
    margin: 25vh 5%;
    padding: 10px;  
    width: 40%;
    height: 50vh;
    border-radius: var(--border_radius);
    background-color: var(--light_shades);
    box-shadow: 3px 3px 2px 2px var(--dark_shades);
}

.title {
    text-align: center;
    margin-top: 10vh;
    font-size: 4vh;
    font-weight: 700;
    color: var(--text_color);
}

input {    
    border:  var(--border_radius);  
    font-size: 2.5vh;
    outline: none;  
    width: calc(80% - 30px);    
    margin: 4vh 10%;
    border-bottom: 2px solid var(--light_accent);
    transition:  var(--default_transition);
    padding: 0px 15px; 
    background-color: transparent;   
}

input:focus {
    transition:  var(--default_transition);
    border-bottom: 2px solid var(--main_brand_color);
}

button {
    width: 30%;
    margin: 0px 35%;
    font-size: 2.75vh;
    font-weight: 500;
    padding: 15px;
    border-radius:  var(--border_radius);
    border: none;
    background-color: var(--main_brand_color);
    color:  var(--reverse_text_color);
    box-shadow: 3px 3px 2px 2px var(--dark_shades);
    transition:  var(--default_transition);
}

button:hover {
    background-color: var(--main_brand_color_hover);
    transition:  var(--default_transition);
}
