<div class="main">
    <div class="container">
        <div class="color-whell-block">
            <canvas #canvas width="500" height="500"></canvas>
            <color-circle  *ngFor="let rgbColor of rgbColors; let i = index" [rgbColors]="rgbColors" [i] = "i" [colorSchema] = "modelType"></color-circle>        
        </div>
        <div class="color-line">
            <div class="card" *ngFor="let rgbColor of rgbColors; let i = index">
                <div class="color" [ngStyle]="getCardStyle(rgbColor)">
                    <a [ngStyle]="getTextColor(rgbColor)"> #{{getHEX(rgbColor)}}</a>
                </div>   
            </div>
        </div>   
        <vertical-palette-bar [rgbColors] = "rgbColors"  [modelType] = "modelType" (onChangeEvent)="changeColors($event)"  (onChangeModelEvent) = "changeModelType($event)"></vertical-palette-bar>    
    </div>
</div>