.test {
    width: 500px;
    height: 500px;
    background-color: black;
}

@media (min-width: 1200px) {
    .test {
        background-color: red;
    }
  }
  
  /* Для экранов шире 768px и меньше или равно 1200px */
  @media (min-width: 768px) and (max-width: 1200px) {
    .test {
        background-color: green;
    }
  }
  
  /* Для экранов меньше или равно 768px */
  @media (max-width: 768px) {
    .test {
        background-color: blue;
    }
  }