.container {
  width: 100%;
  display: grid;  
}
palette-item {
  margin: 20px;
  height: 150px;  
}

@media (min-width: 1750px) {
  .container {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (min-width: 1000px) and (max-width: 1750px){
  .container {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}

@media (max-width: 1000px){
  .container {
    grid-template-columns: repeat(2, 50%);
  }
}
