<div class="placeholder"></div>
<nav>
    <ul>
        <li style="width: 200px;">
            <div class="img-box" routerLink="/generate_wheel_palette">
                <img src="assets/logo2.png">
                <a>Colorhythm</a>
            </div>            
        </li>
        <li><a class="default_text" routerLink="/generate_palette">Генерация</a></li>
        <li><a class="default_text" routerLink="/generate_palette_ai">Генерация AI</a></li>
        <li><a class="default_text" routerLink="/palettes">Палитры</a></li>         
        <li style="float: right;" (click)="exit()"><a class="default_text">Выход</a></li> 
    </ul>
</nav>