

.container {
    width: 100%;
    height: 550px;
    padding-top: 1px;
    display: flex;
}

.color-whell-block {
    width: 500px;
    height: 500px;
    margin: 25px calc(50% - 480px);    
}

.container canvas {
    position: absolute;
    width: 500px;
    height: 500px;
}

.color-line {
    width: 200px;
    height: 500px;
    margin: 25px 10px;
}

.card { 
    width: 100%;
    height: 90px;
    margin: 10px 0;
}

.card .color {    
    width: 200px;
    height: 90px;
    border-radius: var(--border_radius);
    box-shadow: 0 0 5px 1px var(--text_color)
}

.card .color a {
    display: block;
    text-align: center;
    line-height: 90px;
    font-size: 15px;
    cursor: default;
    font-weight: bold;
}

.main {    
    width: 100%;
    height: 550px;
    background-color: var(--dark_shades_hover);   
}

vertical-palette-bar {
    margin: 25px 10px;
}