
button {
    box-shadow: 0 0 5px 1px var(--text_color);
    background-color: var(--main_brand_color);
    border: none;
    width: 200px;
    height: 60px;
    border-radius: var(--border_radius);
    font-size: 15px;
    color: var(--reverse_text_color);
    margin: 10px;
}

button:hover {
    transition: var(--default_transition);
    background-color: var(--main_brand_color_hover);
}