<div class="container">   
    <div class="color-line">
        <div class="color-block" *ngFor="let colorInPalette of colorsInPalette; let i = index" [ngStyle]="getWidth()">
            <div class="color" [ngStyle]="{'background-color': '#' + colorInPalette.hex}">
                
                <a [ngStyle]="getTextColor(colorInPalette.hex)">{{colorInPalette.hex}}</a>                 
                <img class="closed" src="assets/close-lock.png" *ngIf="closed[i]" (click)="change(i)"> 
                <img src="assets/open-lock.png"*ngIf="!closed[i]" (click)="change(i)">                 
            </div>
        </div>
    </div>
    <div class="buttons">
        <img src="assets/regenerate.png" (click)="regenerate()" style="margin-left: 0px;">

        
        <button (click)="useSchema()" style="margin-left: calc(50% - 170px);">Применить</button>
        <img src="assets/reset.png" >
        <button style="margin-right: 0px; margin-left: calc(50% - 390px);">Сохранить</button>

    </div>    
</div>