// FAFBF8
// B5BCC2
// 9DA7B3
// 6AB3EF
// 386FD2

* {
    margin: 0;
    padding: 0;
    font-family:"Gill Sans", sans-serif;
}

:root {
    --light_shades: #FAFBF8;
    --light_accent: #B5BCC2;
    --main_brand_color:#9DA7B3;
    --dark_accent: #6AB3EF;
    --dark_shades: #386FD2;
}