* {
    margin: 0;
    padding: 0;
    font-family:"Gill Sans", sans-serif;
}

:root {
    --border_radius: 10px;
    --default_transition: 0.3s ease-in-out;

    --light_text_color : #FFFFFF;
    --dark_text_color : #000000;

    --text_color: #0C0C28;
    --reverse_text_color: #ECEBED;

    --light_shades: #ECEBED;
    --light_accent: #5574C4;
    --main_brand_color:#7777FC;
    --dark_accent: #191D21;
    --dark_shades: #0C0C28;

    --main_brand_color_hover:#6F6FED;
    --dark_shades_hover:#0F0F33;
    --light_shades_hover: #E5DDEC
}

body {
    background-color: var(--light_shades);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
